<!DOCTYPE html>
<html lang="en">

<%- include('./head.ejs') %>

<body>
<div class="container">
    <div class="row justify-content-center container-fluid d-flex justify-content-center align-items-center vh-100">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <form id="registrationForm" action="/api/v1/auth/register" method="POST" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="fullname" class="form-label">Full name</label>
                            <input type="text" class="form-control" id="fullname" name="fullname" required>
                            <div class="invalid-feedback">Please enter your full name.</div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            <div class="invalid-feedback">Please enter a valid email address.</div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            <div class="invalid-feedback">Please enter your password.</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>Already have an account? <a href="/api/v1/auth/login">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  document.getElementById('registrationForm').addEventListener('submit', function (event) {
    if (!this.checkValidity()) {
      event.preventDefault();
      event.stopPropagation();
    }
    this.classList.add('was-validated');
  });
</script>

</body>
</html>
